<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="restapi.prac.repository.mapper.MyPageMapper">

    <select id="selectApplicationsByUserId"  parameterType="string"  resultType="restapi.prac.model.dto.ApplicationDto">

        SELECT
            S.store_id AS storeId,
            S.store_nm AS storeNm,
            COALESCE(C.status, '01') AS status,
            C.crr_strt_date AS applyDate
        FROM crr_hstr C
                 JOIN store_info S ON C.store_id = S.store_id
        WHERE C.user_id = #{userId}
          AND C.del_yn = false
        ORDER BY C.rgst_date DESC

    </select>

    <select id="selectMyApplyList"  parameterType="string"  resultType="restapi.prac.model.dto.response.ApplyDTO">
        /* selectMyApplyList */
        select ai.apply_date AS applyDate
             , ai.apply_sts AS applySts
             , ai.apply_suc_yn AS applySucYn
             , si.store_nm AS storeNm
             , hb.hiring_no AS hiringNo
             , ccd.dtl_cd_nm as  applyStsNm
             , ccd2.dtl_cd_nm as hiringStsNm
        from apply_info ai
        join hiring_board hb
        on ai.hiring_no = hb.hiring_no
        join store_info si
        on hb.store_id = si.store_id
        left join cmn_cd_dtl ccd
        on ccd.dtl_cd = ai.apply_sts
        and ccd.mstr_cd = 'APPLY_STS'
        left join cmn_cd_dtl ccd2
        on ccd2.dtl_cd = hb.hiring_sts
        and ccd2.mstr_cd = 'HIRING_STS'
        where 1=1
        and ai.apply_user_id = #{userId}
    </select>

    <select id="selectMyHiringList"  parameterType="string"  resultType="restapi.prac.model.dto.response.HiringBoardDTO">
        /* selectMyHiringList */
        select si.store_nm AS storeNm
             , hb.hiring_no AS hiringNo
             , ccd2.dtl_cd_nm AS hiringStsNm
             , hb.work_start_date AS workStartDate
             , hb.work_end_date AS workEndDate
        from hiring_board hb
        join store_info si
        on hb.store_id = si.store_id
        left join cmn_cd_dtl ccd2
        on ccd2.dtl_cd = hb.hiring_sts
        and ccd2.mstr_cd = 'HIRING_STS'
        where 1=1
        and hb.rgst_id = #{userId}
    </select>

</mapper>
